a {
  text-decoration: none;
}

.kapkan {
  background: url("Kapkan.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 200px;
  height: 200px;
  border: 1px solid #000;
}

.kapkan:hover {
  background: url("kapkan.gif") no-repeat center center;
}